@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-text-primary);
}

@theme {
    /* Fuentes */
    /* Para encabezados */
    --font-body: "Inter", sans-serif;
    --font-heading: "Poppins", sans-serif;

    /* Colores */
    --color-primary: #1a4072;
    --color-accent: #1e293b;
    --color-background: #fafafa;

    /*Texto*/
    --color-body: #1f2937;
    --color-body-secondary: #4b5563;
    --color-titles: #111827;
}
